.product-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin-bottom: 64px;
  justify-content: center;
}

.product-container {
  display: flex;
  justify-content: center;
}